* {
  box-sizing: border-box;
}

* {
  margin : 0;
}

body {
  font-family: Arial;
   background: #EBE7E7;
  }

.header {
  text-align: center;
  padding: 32px;
  background: #E0DDDD;
}

#gallery {
  display: flex;
}

#gallery img {
  width: 25%;
  height: 300px;
}